// ProductCard

.root {
  height: 482px;

  display: grid;

  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  transition: transform 300ms cubic-bezier(0.24, 1, 0.32, 1);

  &:hover {
    transform: translateY(-4px);
  }

  @media (width > 1380px) {
    width: calc(25% - 32px);
  }

  @media (940px <= width < 1380px) {
    width: calc(33.33% - 24px);
  }

  @media (620px <= width < 940px) {
    width: calc(50% - 16px);
  }

  @media (width < 620px) {
    width: calc(100% - 16px);
  }

  // Header

  .header {
    position: relative;
    height: 404px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;

      background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
    }

    .preview {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      overflow: hidden;
    }

    .info {
      padding: 16px;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title {
        color: #ffffff;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
      }

      .author {
        position: relative;
        padding-top: 16px;

        color: #ffffff;
        font-size: 14px;
        font-weight: 700;

        &::before {
          content: 'created by';
          padding-top: 16px;
          position: absolute;
          top: -16px;

          color: #f3f3f3;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }

  // Footer

  .footer {
    padding: 16px;
    height: 78px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .available {
      position: relative;

      font-size: 16px;
      line-height: 24px;
      font-weight: 600;

      &::before {
        content: 'available';
        position: absolute;
        top: -22px;

        color: #808080;
        font-size: 12px;
        font-weight: 400;
      }
    }

    .price {
      position: relative;

      color: #0040e5;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;

      &::before {
        content: 'price';
        position: absolute;
        top: -20px;
        right: 0;

        color: #808080;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
