// Image

.root {
  overflow: hidden;
  width: 100%;
  height: 100%;

  filter: grayscale(100%) blur(8px);
  transform: scale(1.1);
  transition: filter 600ms ease-in-out, transform 600ms ease-in-out;

  &.loaded {
    filter: grayscale(0) blur(0);
    transform: scale(1);
  }

  .image {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}
